*, *::after, *::before {
  box-sizing:border-box;
}

.box{
  margin-top:1em;
  display:flex;
  /* align-content:flex-start; */
  flex-wrap:wrap;
}

.box-item{
  flex-grow:1;
  flex-shrink:1;
  flex-basis:20%;
  /* align-self:flex-start; */

  /* padding:10%; */

  /*shorthand is flex:1 1 auto;*/
}

.box-item-image{
.text-overlay{
    color:white;
    position:absolute;
    top:25%;
    right:20%;
    transform: translate(50%, 40%);
}
  flex-grow:1;
  flex-shrink:1;
  flex-basis:auto;
  /* width:100%; */
  /* flex-basis:20%; */
  /* align-self:flex-start; */

  /* padding:10%; */

  /*shorthand is flex:1 1 auto;*/
}

.box-item-imagemobile{
  flex:1 1 40%;
}


.box-grid-header{
  font-size:2em;
  padding:2em;
  text-align:center;
  flex: 1 1 100%;
  background-color:#dedcff;
}

.box-grid-body{
  font-size:2em;
  padding:5em 2em 5em 2em;
  text-align:center;
  flex: 1 1 100%;
  background-color:#ffca88;
}

.box-grid-body2col{
  font-size:2em;
  padding:2em;
  text-align:center;
  flex: 1 1 50%;
  background-color:#ffca88;
}

.box-grid-footer{
  font-size:2em;
  padding:1em 2em 1em 2em;
  text-align:center;
  flex: 1 1 100%;
  background-color:#dedcff
}
