.flexbox-nav{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  flex-wrap:wrap;
}

.flexbox-nav-items{

}

.flexbox-benefits-padding{
  margin-left:5%;
  margin-right:5%;
}

.flexbox-massages-padding{
  margin-left:5%;
  margin-right:5%;
  flex:1 1 100%;
}

.flexbox-flex{
  display:flex;
}

.flexbox-rowrap
{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.flexbox-norowrap
{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
}

.flexbox-1col
{
  flex:1 1 100%;
}

.flexbox-2row-item{
  flex:1 1 50%;
}

.flexbox-3row-item{
  flex:1 1 30%;
}
