html{
  height: 100%;
min-height: 100%;
  /*width:100%;*/
  line-height:1.6em;
}

body{
  height: 100%;
  min-height: 100%;
  /*height:100%;*/
  margin:0;
  font-family: merel,sans-serif;
  font-weight: 400;
  font-style: normal;
  /*padding: 1rem;*/
  color:#000000;
}

header{
  position:sticky;
  top:0px;
}

footer{
  background-color: red;
  position:sticky;
  top:100%;
  margin:0 2em 0 2em;
}

.section-body-wrapper{
  margin:0 2em 0 2em;
}

.button-nav {
      display: inline-block;
      padding: 0.7em 0.5em;
      color: #FFFFFF;
      background-color: #D6C3A9A6; /*hex representation for 65% transparent - is A6*/

      font-size: 1.125em;
      line-height: 1.22222222em
      font-weight: 500;
      text-transform: uppercase;

      text-decoration: none;
      -webkit-transition: background-color 0.15s ease-out;
      transition: background-color 0.15s ease-out;
}

.button-nav:hover, .button-nav:focus {
    background-color: #A15442;
    color:#FFFFFF;
}

.button-body{
display: inline-block;
background-image: linear-gradient(#E0865C, #A34C35);
border-radius: 0.12em;
padding: 0.4em 1.3em 0.6em 1.3em;
color: white;
font-size: 1em;
line-height:normal;
text-align: center;
font-weight:500;
text-transform: capitalize;
text-decoration: NONE;

-webkit-transition: all 0.15s ease-out;
transition: all 0.15s ease-out;
}

a {
  font-weight:500;
  color:#E0865C;
  text-decoration:none;
  transition: color 0.15s ease-out;
}

a:hover{
  color:#A15442;
}

a:active{
    color:#D6C3A9;
}

nav
{
  /*https://medium.com/swlh/understanding-css-display-none-block-inline-and-inline-block-63f6510df93 */
      background: #D6C3A9A6;
      width:100%;
      padding: 0.5em 0 0.5em 0;

    /* padding:0.3em 0.3em 0em 0em; */
    /*position: sticky;*/
}

nav a{
  color: #FFFFFF;
  font-weight:bold;
  text-decoration:none;
  padding: 0em 1em 0em 1em;
  font-weight:400;
  text-decoration:none;
  text-transform:uppercase;
  font-size: 1.125em;
  line-height: 1.2222222em;
  -webkit-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}

img{
  max-width:100%;
  height:auto;
}

.figure-benefits{
  text-align:center;
  /*justify-content:center;*/
}

.figure-benefits img{
  max-width:50%;
}


/* Styling for text labels/fields https://codepen.io/andreasstorm/pen/gKGbxo*/
.inp {
      display: inline-block;
      box-sizing:border-box;
      position: relative;
      margin: 1.5em;
      width: 100%;
      max-width: 280px;
      flex:1 1 50%;

}

/*initial hint*/
.inp .label {
      position: absolute;
      top: 16px;
      left: 0;
      font-size: 1em;
      color: #E0865C;
      font-weight: 400;
      transform-origin: 0 0;
      transition: all 0.2s ease;
}
.inp .border {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: #E0865C;
      transform: scaleX(0);
      transform-origin: 0 0;
      transition: all 0.15s ease;
}
.inp input {
      -webkit-appearance: none;
      width: 100%;
      border: 0;
      font-family: inherit;
      padding: 0px;
      height: 48px;
      font-size: 1.5em;
      font-weight: 500;
      border-bottom: 2px solid #E0D4B8;
      background: none;
      color: #2F1D0C;
      transition: all 0.15s ease;
}

.inp-date{
  margin:1.5em 1.5em 1.5em 0;
}
.inp input:hover {
    background: rgba(224, 212, 184, 0.15);
}

.inp input:not(:placeholder-shown) + span {
      color: #c6af7a;
      transform: translateY(-26px) scale(0.75);
}
.inp input:focus {
      background: none;
      outline: none;
}
.inp input:focus + span {
      color: #E0865C;
      transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border {
    transform: scaleX(1);
}


/*styling for drop down field  Adapted from: https://codepen.io/miniven/pen/ZJydge*/
.select-box {
  position: relative;
  display: inline-block;
  width: 20%;
  font-size: 18px;
  color: #60666d;
  margin:1.5em;
}

@media (max-width: 500px) {
  .select-box {
   width: 70%;
   /*padding: 1em;*/
  }
  .select-box__option{
     width: 90%;

  }
}

.select-box__current {
  border-bottom: 2px solid #E0D4B8;
  cursor: pointer;
  outline: none;
  color:#E0865C;
}

.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__current:hover {
    background: rgba(224, 212, 184, 0.15);
}

.select-box__current:focus .select-box__icon {
    -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 20px;
      opacity: 0.3;
      transition: 0.2s ease;
}

.select-box__value {
    display: flex;
}

.select-box__input {
    display: none;
}

.text-label{
  float:left;
  width:8em;
}

.select-box__input:checked + .select-box__input-text {
    display: block;
}

.select-box__input-text {
      display: none;
      width: 100%;
      margin-bottom: 10px;
}

.select-box__list {
      position: absolute;
      width: 100%;
      padding: 0;
      list-style: none;
      opacity: 0;
      -webkit-animation-name: HideList;
              animation-name: HideList;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-timing-function: step-start;
              animation-timing-function: step-start;
      box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
      display: block;
      padding: 0.6em;
      background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
      color:#E0865C;
      background: #f7efde;
}

@-webkit-keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
